.navBar
  font-family: Avenir, Helvetica, Arial, sans-serif
  max-width: 1000px
  margin: auto

.upperNav
  font-size: 11px
  display: flex
  justify-content: space-between
  a
    color: #1994D7
    margin: 0px 20px
  .show
    color: #78899E

  input
    border-radius: 10px

.lowerNav
  display: flex
  font-size: 14px
  width: 89%
  justify-content: space-between
  align-items: center
