<div class="wrapper">
  <div class="navBar">
    <div class="upperNav">
      <span class="show">Show Disney.com</span>
      <div class="links">
        <a href="#">Sign in or Create Account</a>
        <span class="divider">|</span>
        <a href="#">United States (English)</a>
        <span class="divider">|</span>
        <a href="#">Help</a>
        <input type="text" value="search disneyland.com">
      </div>
    </div>

    <div class="lowerNav">
      <img src="../assets/img/logo.png">
      <span>Parks & Tickets</span>
      <ul class="hideList">
        <li>Theme Parks</li>
        <li>Tickets</li>
        <li>Ticket Options</li>
        <li>Photography</li>
      </ul>
      <span>Places to Stay</span>
      <span>Things to Do</span>
      <span>Annual Passports</span>
      <span>Shop</span>
      <span>Cart</span>
      <div class="myDisneyland">
        <span class="disneyLink">My Disneyland</span>
        <div class="disneyContent">
        <a href="#">My Hotel Reservations</a><br>
        <a href="#">My Dining Reservations</a><br>
        <a href="#">My Annual Passports</a><br>
        <a href="#">My Photos</a><br>
        <a href="#">My Wishlist</a><br>
        <a href="#">Sign in or Create Account</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
