<h4>Edit Attraction</h4>
<label>Attraction URL (ie 'alice-in-wonderland'):</label>
<input [(ngModel)]="selectedAttraction.id">
<br>
<label>Attraction Name:</label>
<input [(ngModel)]="selectedAttraction.name">
<br>
<label>Required Height:</label>
<input [(ngModel)]="selectedAttraction.height">
<br>
<label>Attraction Type (seperate using ','):</label>
<input [(ngModel)]="selectedAttraction.type">
<br>
<label>Attraction Location:</label>
<input [(ngModel)]="selectedAttraction.location">
<br>
<label>Attraction Detail:</label>
<input [(ngModel)]="selectedAttraction.detail">
<br>
<button (click)="beginUpdatingAttraction(selectedAttraction)">Update</button><br>
<button (click)="beginDeletingAttraction(selectedAttraction)">Delete</button>
<hr>
