<div class="attraction">
<h2>Attractions</h2>

<div *ngFor="let attraction of attractions | async" (click)="goToDetailPage(attraction)">
  <h3><span class="attractionName">{{attraction.name}}</span></h3>
  <span class="attractionHeight">Height: {{attraction.height}}</span><br>
  <div >
  <span class="attractionType" *ngFor="let type of attraction.type">{{type}}, </span>
  </div>
  <span class="attractionLoc">{{attraction.location}}</span><br>
  <div *ngIf="currentRoute === '/admin'">
    <span class="attractionDetail">{{attraction.detail}}</span><br>
    <app-edit-attraction [selectedAttraction]="attraction"></app-edit-attraction>
  </div>
</div>
</div>
<footer class="footer">
  <a routerLink="/admin">Admin</a>
</footer>
